# Домашнее задание 1 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [376]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [377]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()
for i in range(0, 10):
    filename = 'data/Students_info_' + str(i) + '.csv'
    datapart = pd.read_csv(filename, delimiter = ',')
    df1 = df1.append(datapart)
    filename = 'data/Students_marks_' + str(i) + '.csv'
    datapart = pd.read_csv(filename, delimiter = ',')
    df2 = df2.append(datapart)
data = pd.concat([df1, df2], axis = 1, sort=False)
data.head()

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,index,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,0,72,72,74
1,1,female,group C,some college,standard,completed,group1,1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,2,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,3,47,57,44
4,4,male,group C,some college,standard,none,group1,4,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [378]:
data = data.drop('index', axis = 1)
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 3. Выведите на экран размеры полученной таблицы

In [379]:
data.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [380]:
data.describe().loc[['min','max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [381]:
data.isnull().sum()
#Числа указывают на количество пропущенных значений в колонке, напротив которой они стоят
#В данной таблице пропущенных значений нет.

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
group                          0
math score                     0
reading score                  0
writing score                  0
dtype: int64

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [382]:
data.describe().loc['mean']

math score       66.089
reading score    69.169
writing score    68.054
Name: mean, dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [383]:
dataCompleted = data.loc[data['test preparation course'] == 'completed']
dataNone = data.loc[data['test preparation course'] == 'none']
print('Студенты, проходившие курс:', dataCompleted.describe().loc['mean'],
      'Студенты, не проходившие курс:', dataNone.describe().loc['mean'], sep = '\n')

Студенты, проходившие курс:
math score       69.695531
reading score    73.893855
writing score    74.418994
Name: mean, dtype: float64
Студенты, не проходившие курс:
math score       64.077882
reading score    66.534268
writing score    64.504673
Name: mean, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [384]:
set(data['lunch'])

{'free/reduced', 'standard'}

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [385]:
data = data.rename({'parental level of education' : 'education', 'test preparation course' : 'test preparation'}, axis = 1)
data.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [386]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [387]:
print('Доля студентов сдала экзамен по математике:',
      data[data['math score'] >= passmark].shape[0] / data.shape[0])
print('Доля студентов проходивших курс подготовки и сдавших экзамен по математике:',
      data[(data['math score'] >= passmark) & (data['test preparation'] == 'completed')].shape[0] /
      data[data['test preparation'] == 'completed'].shape[0])
print('Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике:',
      data[(data['math score'] <= passmark) & (data['gender'] == 'female') & (data['test preparation'] == 'completed')].shape[0]
      / data[(data['gender'] == 'female') & (data['test preparation'] == 'completed')].shape[0])

Доля студентов сдала экзамен по математике: 0.865
Доля студентов проходивших курс подготовки и сдавших экзамен по математике: 0.9217877094972067
Доля женщин, не проходивших курс подготовки к экзамену, не сдавших экзамен по математике: 0.10326086956521739

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [388]:
import time
start_time = time.time()

print(data.groupby('race/ethnicity').agg({'math score': 'mean'}).reset_index(), 
data.groupby('education').agg({'writing score': 'min'}).reset_index(), sep = '\n')

print("%s seconds" % (time.time() - start_time))

  race/ethnicity  math score
0        group A   61.629213
1        group B   63.452632
2        group C   64.463950
3        group D   67.362595
4        group E   73.821429
            education  writing score
0  associate's degree             35
1   bachelor's degree             38
2         high school             15
3     master's degree             46
4        some college             19
5    some high school             10
0.008939743041992188 seconds

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [395]:
import time
start_time = time.time()

groups = sorted(list(set(data['race/ethnicity'])))
for i in range(0, len(groups)):
    print('Средний балл', groups[i], ':', data.loc[data['race/ethnicity'] == groups[i]]['reading score'].mean())
edu = sorted(list(set(data['education'])))
for i in range(0, len(edu)):
    print('Минимальный балл', edu[i], ':', data.loc[data['education'] == edu[i]]['writing score'].min())

print("%s seconds" % (time.time() - start_time))

Средний балл group A : 64.67415730337079
Средний балл group B : 67.35263157894737
Средний балл group C : 69.10344827586206
Средний балл group D : 70.03053435114504
Средний балл group E : 73.02857142857142
Минимальный балл associate's degree : 35
Минимальный балл bachelor's degree : 38
Минимальный балл high school : 15
Минимальный балл master's degree : 46
Минимальный балл some college : 19
Минимальный балл some high school : 10
0.016913890838623047 seconds

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [390]:
grouped = pd.pivot_table(data, index=['gender','education'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [394]:
data['Math_PassStatus'] = pd.Series(['F' if m < passmark else 'P' for m in data['math score']])
data['Reading_PassStatus'] = pd.Series(['F' if m < passmark else 'P' for m in data['reading score']])
data['Writing_PassStatus'] = pd.Series(['F' if m < passmark else 'P' for m in data['writing score']])
print('Количество студентов, которые сдали экзамен по математике:', len(data.loc[data['Math_PassStatus'] == 'P']))
print('Количество студентов, которые не сдали экзамен по математике:', data.loc[data['Math_PassStatus'] == 'F'].shape[0])
print('Количество студентов, которые сдали экзамен по чтению:', data.loc[data['Reading_PassStatus'] == 'P'].shape[0])
print('Количество студентов, которые не сдали экзамен по чтению:', data.loc[data['Reading_PassStatus'] == 'F'].shape[0])
print('Количество студентов, которые сдали экзамен по письму:', data.loc[data['Writing_PassStatus'] == 'P'].shape[0])
print('Количество студентов, которые не сдали экзамен по письму:', data.loc[data['Writing_PassStatus'] == 'F'].shape[0])
data.head()

Количество студентов, которые сдали экзамен по математике: 780
Количество студентов, которые не сдали экзамен по математике: 220
Количество студентов, которые сдали экзамен по чтению: 820
Количество студентов, которые не сдали экзамен по чтению: 180
Количество студентов, которые сдали экзамен по письму: 800
Количество студентов, которые не сдали экзамен по письму: 200

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [392]:
data['OverAll_PassStatus'] = data.apply(lambda g : 'F' if g['Math_PassStatus'] == 'F' or g['Reading_PassStatus'] == 'F' or 
                        g['Writing_PassStatus'] == 'F' else 'P', axis = 1)
print('Количество студентов, которые сдали все экзамены:', data.loc[data['OverAll_PassStatus'] == 'P'].shape[0])
data.head()

Количество студентов, которые сдали все экзамены: 740

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [393]:
def GetGrade(m):
    if m >= 90:
        return 'A'
    elif m >= 80 and m < 90:
        return 'B'
    elif m >= 70 and m < 80:
        return 'C'
    elif m >= 60 and m < 70:
        return 'D'
    elif m >= 50 and m < 60:
        return 'E'
    else:
        return 'F'
data['Grade'] = data.apply(lambda m : GetGrade((m['math score'] + m['reading score'] + m['writing score']) / 3) , axis = 1)
data['Grade'].value_counts()

C    261
D    256
E    182
B    146
F    103
A     52
Name: Grade, dtype: int64